@font-face {
    font-family: 'fuente';
    src: url('recursos/fuentes/Summeron-Ñ.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-size: smaller;
}

:root{
    --nar: rgb(255, 136, 0);
    --naro: rgb(185, 99, 0);
    --neg: rgb(0, 0, 0);
    --bla: rgb(255,255,255);
    --ver: rgb(0, 129, 0);
    --vero: rgb(0, 140, 0);    
    --mor: rgb(121, 69, 152);
    --moro: rgb(162, 92, 202);
    --roj: rgb(254,0,0);
    --rojo: rgb(167, 0, 0);
    --ama: rgb(255, 255, 0);
    --bei: rgb(231, 216, 150);
    --ros: rgb(255,129,130);
    --roso: rgb(189, 97, 97);
    --az: rgb(0,0,254);
    --azo: rgb(0, 0, 146);
}

div,
img,
article,
header,
.boton,
footer {
    border-radius: 25px;
}

.tam{
    background: radial-gradient(var(--vero),var(--ver),var(--ver));
}

article,
header,
.boton,
.boton2,
footer {
    box-shadow: 5px 5px 5px var(--vero);
}


html,
body {
    width: 96%;
    margin: 2%;
    margin-right: 2%;
    background-color: var(--bei);
}

header {
    font-family: 'fuente';
    background-color: var(--ver);
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: var(--bei);
    margin-bottom: 5%;
    padding: 2%;
}

.rec {
    width: 25%;
    display: flex;
}

.tam {
    width: 50%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'fuente';
    text-align: center;
}

article {
    border: 3px solid var(--ver);
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.articulo {
    padding: 1%;
}

.texto {
    margin-bottom: 5%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 1%;
    text-align: center;   
}
.boton2 {
    display: flex;
    width: 40%;
    height: 60px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2.5%;
    background-color: var(--vero);
    text-align: center;
    justify-content: center;

}
.b{
    display: flex;
    align-items: center;
}
.boton {
    width: 75%;
    padding: 5%;
    background-color: var(--vero);
    text-align: center;
    justify-content: center;
}

.a {
    width: 100%;
    height: 100%;
    font-family: 'fuente';
}

a {
    color: var(--bei);
    text-decoration: none;
}

.lista {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.izq {
    width: 45%;
}

.der {
    width: 45%;
}

.cen {
    width: 100%;
}

footer {
    width: 100%;
    background-color: var(--ver);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    justify-content: center;
}

.fot {
    width: 85%;
    color: var(--bei);
    font-family: 'fuente';
    text-align: center;
}

ul li {
    margin: 5px;
}

li {
    list-style-type: "\1F9F3";
    list-style-position: outside;
}

@media only screen and (min-width:601px) {
    html{
        width: 100%;
        margin: auto;
    }
    header {
        justify-content: space-evenly;
    }

    .rec {
        width: 55%;
    }

    .tam {
        width: 15%;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .izquierda {
        width: 45%;
    }

    .izquierda>article {
        width: 100%;
    }

    .derecha, .can {
        display: flex;
        width: 45%;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article {
        width: 45%;
    }
    .lista{
        text-align: center;
    }
    li{
        list-style-position: inside;
    }

    .boton {
        width: 35%;
        padding: 5%;
        background-color: rgb(214, 0, 0);
        text-align: center;
    }

    footer {
        width: 100%;
        background-color: rgb(214, 0, 0);
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-bottom: 5%;
    }

}